<form action [formGroup]="loginForm" (submit)="loginSubmit()">
  <div class="container-fluid">
    <div class="card">

      <div class="card-header">
        <h4 class="card-title">Login</h4>
        <button id="bttn" mat-raised-button color="primary" type="submit"
          routerLink="/register">
          cadastre-se</button>
      </div>

      <div class="subtitles">
        <span>Faça login com segurança</span>
      </div>

      <div class="logo">
        <img src="../../../assets/img/undraw_real_time_sync_re_nky7.svg" alt
          srcset>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="username">Email</label>
        <input type="text" class="form-control" id="emial"
          formControlName="email" required>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="password">Password</label>
        <input type="password" class="form-control" id="password"
          formControlName="password" required minlength="5">
      </div>

      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Logar</button>
        <button mat-raised-button color="accent" type="reset">Cancelar</button>
      </div>
    </div>
  </div>
</form>
