* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

.container-fluid {
  width: 100%;
  height: 109vh;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(46, 199, 16));
}

.card {
  top: 35%;
  left: 50%;
  margin: -100px;
  width: 480px;
  height: 270px;
  box-shadow: 10px 10px 40px rgb(255, 255, 255);
}

.card input {
  margin-top: 5px;
  margin-bottom: 1px;
  width: 250px;
  margin-left: 15px;
  margin-right: 10px;
  height: 30px;

  border-radius: 5px;
  border: 1px solid #a19d9d;
  padding: 5px;
  font-size: 14px;
}

.card input:focus {
  outline: none;
  border: 1px solid #928585;

  box-shadow: 0px 0px 10px #00deee;
  -webkit-box-shadow: 0px 0px 10px #000000;
}

.card h4 {
  position: absolute;

  margin-top: 15px;
  width: 280px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  border-radius: 5px;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.card-header button,
#bttn {
  margin-left: 70%;
  width: 28%;
}

.card label {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 15px;
  border-radius: 5px;

  display: block;
  margin-bottom: 5px;
}

.card button {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 15px;
  border-radius: 5px;
  margin-top: 5px;
}

.subtitles{
  display: block;
}
 .subtitles span {
  position: absolute;
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  margin-top: 30px;
  margin-left: 280px;

  font-weight:500;
  font-size: 14px;


 }

.logo img{
  position: absolute;
  display: flex;
  margin-left: 300px;
  width: 150px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;

    display: block;
  }
}

.card button:hover {
  cursor: pointer;
}

.card label:hover {
  cursor: pointer;
}
